/* Mine */
body {
    padding-top: 50px;
    padding-bottom: 90px;
}

.navbar-mobile .navbar-brand {
    padding: 9px 12px;
}

.navbar-brand img {
    height: 25px;
}

.navbar .azs-form {
    margin-left: 60px;
    padding-top: 8px;
}

.azs-form .azs-form-label {
    display: inline-block;
    vertical-align: bottom;
    color: #fefefe;
    font-size: 140%;
}

.azs-form .azs-form-select {
    display: inline-block;
    margin-left: 10px;
}

.form-xs .form-control {
    width: auto;
    height: auto;
    display: inline;
    font-size: 85%;
    padding: 4px 6px;
}

/* --- margins and paddings --- */
.mt10 {
    margin-top: 10px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.ml5 {
    margin-left: 5px !important;
}
/* --- /margins and paddings --- */

label {
    font-size: 14px;
}

.checkbox label {
    font-size: 14px;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    margin-top: 4px;
}