{% extends "layout.html" %}

{% block content %}
<h2>Отчет за {{model['date'].strftime('%B %Y')}}</h2>
<div class="report-wrapper">
<table class="table table-hover table-bordered" width="100%">
    <thead>
        <tr>
            <th style="min-width: 360px" colspan="2" class="fixed-column wide">Тайный покупатель</th>
            <th colspan="{{model['kiosks_count']}}">Киоск</th>
            <th colspan="{{model['shops_count']}}">АЗК с магазином</th>
            <th colspan="{{model['cafes_count']}}">АЗК с магазином и кафе</th>
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">АЗС №</th>
            {% for item in model['kiosks'] %}
                <th style="min-width: 90px" colspan="{{ model[item.num]|length }}">{{item.num}}</th>
            {% endfor %}
            {% for item in model['shops'] %}
                <th colspan="{{ model[item.num]|length }}">{{item.num}}</th>
            {% endfor %}
            {% for item in model['cafes'] %}
                <th colspan="{{ model[item.num]|length }}">{{item.num}}</th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">Наименование</th>
            {% for item in model['kiosks'] %}
            <th colspan="{{ model[item.num]|length }}">{{item.title}}</th>
            {% endfor %}
            {% for item in model['shops'] %}
            <th colspan="{{ model[item.num]|length }}">{{item.title}}</th>
            {% endfor %}
            {% for item in model['cafes'] %}
            <th colspan="{{ model[item.num]|length }}">{{item.title}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="2" class="fixed-column wide">Адрес</th>
            {% for item in model['kiosks'] %}
            <td colspan="{{ model[item.num]|length }}"><small>{{item.address}}</small></td>
            {% endfor %}
            {% for item in model['shops'] %}
            <td colspan="{{ model[item.num]|length }}"><small>{{item.address}}</small></td>
            {% endfor %}
            {% for item in model['cafes'] %}
            <td colspan="{{ model[item.num]|length }}"><small>{{item.address}}</small></td>
            {% endfor %}
        </tr>
        {% for question in model['checklist'].pages[0].questions %}
        <tr>
            <th colspan="2" class="fixed-column wide">{{ question.label }}</th>
            {% for item in model['kiosks'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">{{checklist[question.field_name]}}</td>
                {% endfor %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">{{checklist[question.field_name]}}</td>
                {% endfor %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">{{checklist[question.field_name]}}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <th colspan="2" class="fixed-column wide">Код проверяющего</th>
            {% for item in model['kiosks'] %}
                {% for checklist in model[item.num] %}
                    <td>ТП</td>
                {% endfor %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% for checklist in model[item.num] %}
                    <td>ТП</td>
                {% endfor %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td>ТП</td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">Оператор АЗС</th>
            {% for item in model['kiosks'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">{{checklist['operator_fullname']}}</td>
                {% endfor %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">{{checklist['operator_fullname']}}</td>
                {% endfor %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">{{checklist['operator_fullname']}}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">Оператор-кассир</th>
            {% for item in model['kiosks'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">
                        {{checklist['accounter_fullname']}}
                        {% if checklist['accounter_cafe_fullname'] != '' %}
                            <br/> {{checklist['accounter_cafe_fullname']}}
                        {% endif %}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['shops'] %}
                 {% for checklist in model[item.num] %}
                    <td class="nowrap">
                        {{checklist['accounter_fullname']}}
                        {% if checklist['accounter_cafe_fullname'] != '' %}
                            <br/> {{checklist['accounter_cafe_fullname']}}
                        {% endif %}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td class="nowrap">
                        {{checklist['accounter_fullname']}}
                        {% if checklist['accounter_cafe_fullname'] != '' %}
                            <br/> {{checklist['accounter_cafe_fullname']}}
                        {% endif %}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        <!-- pages -->
        {% for index in [1,2,3,4,5,6,7] %}
            <tr class="bg-success">
                <th class="fixed-column one">{{ index }}</th>
                <th class="fixed-column two">{{ model['checklist'].pages[index].title }}</th>
                {% for item in model['kiosks'] %}
                    {% for checklist in model[item.num] %}
                        <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}">
                            {{ checklist.sum_points(model['checklist'].pages[index]) }}
                        </th>
                    {% endfor %}
                {% endfor %}
                {% for item in model['shops'] %}
                    {% for checklist in model[item.num] %}
                        <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}">
                            {{ checklist.sum_points(model['checklist'].pages[index]) }}
                        </th>
                    {% endfor %}
                {% endfor %}
                {% for item in model['cafes'] %}
                    {% for checklist in model[item.num] %}
                        <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}">
                            {{ checklist.sum_points(model['checklist'].pages[index]) }}
                        </th>
                    {% endfor %}
                {% endfor %}
            </tr>
            {% for question in model['checklist'].pages[index].questions %}
                <tr>
                    {% set indx = loop.index %}
                    <td class="fixed-column one">{{index}}.{{loop.index}}</td>
                    <td class="fixed-column two">{{ question.label }}</td>
                    {% for item in model['kiosks'] %}
                        {% for checklist in model[item.num] %}
                            <td class="nowrap" title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}">
                                {% if checklist.object_info.applies(question) %}
                                    {{ checklist[question.field_name]|points(question) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% endfor %}
                    {% for item in model['shops'] %}
                        {% for checklist in model[item.num] %}
                            <td class="nowrap" title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}">
                                {% if checklist.object_info.applies(question) %}
                                    {{ checklist[question.field_name]|points(question) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% endfor %}
                    {% for item in model['cafes'] %}
                        {% for checklist in model[item.num] %}
                            <td class="nowrap" title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}">
                                {% if checklist.object_info.applies(question) %}
                                    {{ checklist[question.field_name]|points(question) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" class="text-right fixed-column wide">Максимальный балл</th>
            {% for item in model['kiosks'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['max_points']}}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['max_points']}}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['max_points']}}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="text-right fixed-column wide">Балл по проверке</th>
            {% for item in model['kiosks'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['points']}}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['points']}}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['points']}}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="text-right fixed-column wide">%</th>
            {% for item in model['kiosks'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{'{:.0f}%'.format(checklist['points_percent'])}}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{'{:.0f}%'.format(checklist['points_percent'])}}
                    </td>
                {% endfor %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{'{:.0f}%'.format(checklist['points_percent'])}}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% set colspan = 2 + model['kiosks_columns'] + model['shops_columns'] %}
        <tr>
            <td colspan="{{colspan}}" class="text-right fixed-column wide">Кофе/Чай</td>
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['p8_r1']}}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{colspan}}" class="text-right fixed-column wide">Пенка</td>
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['p8_r5']}}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{colspan}}" class="text-right fixed-column wide">Объем</td>
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['p8_r6']}}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{colspan}}" class="text-right fixed-column wide">Чашка</td>
            {% for item in model['cafes'] %}
                {% for checklist in model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{checklist['p8_r7']}}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    require(['jquery'], function ($) {

    });
</script>
{% endblock %}