{% extends "layout.html" %}

{% block content %}
<h2>Отчет за {{model['date'].strftime('%B %Y')}}</h2>
<div class="report-wrapper">
<table class="table table-hover table-bordered" width="100%">
    <thead>
        <tr>
            <th style="min-width: 360px" colspan="2" class="fixed-column wide">Тайный покупатель</th>
            <th colspan="{{model['kiosks_count']}}">Киоск</th>
            <th colspan="{{model['shops_count']}}">АЗК с магазином</th>
            <th colspan="{{model['cafes_count']}}">АЗК с магазином и кафе</th>
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">АЗС №</th>
            {% for item in model['kiosks'] %}
            <th style="min-width: 90px">{{item.num}}</th>
            {% endfor %}
            {% for item in model['shops'] %}
            <th>{{item.num}}</th>
            {% endfor %}
            {% for item in model['cafes'] %}
            <th colspan="2">{{item.num}}</th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">Наименование</th>
            {% for item in model['kiosks'] %}
            <th>{{item.title}}</th>
            {% endfor %}
            {% for item in model['shops'] %}
            <th>{{item.title}}</th>
            {% endfor %}
            {% for item in model['cafes'] %}
            <th colspan="2">{{item.title}}</th>
            {% endfor %}
        </tr>
        <!--<tr class="hidden">
            <th></th>
            <th></th>
            {% for item in model['kiosks'] %}
            <th></th>
            {% endfor %}
            {% for item in model['shops'] %}
            <th></th>
            {% endfor %}
            {% for item in model['cafes'] %}
            <th></th>
            <th></th>
            {% endfor %}
        </tr>-->
    </thead>
    <tbody>
        <tr>
            <th colspan="2" class="fixed-column wide">Адрес</th>
            {% for item in model['kiosks'] %}
            <td><small>{{item.address}}</small></td>
            {% endfor %}
            {% for item in model['shops'] %}
            <td><small>{{item.address}}</small></td>
            {% endfor %}
            {% for item in model['cafes'] %}
            <td colspan="2"><small>{{item.address}}</small></td>
            {% endfor %}
        </tr>
        {% for question in model['checklist'].pages[0].questions %}
        <tr>
            <th colspan="2" class="fixed-column wide">{{ question.label }}</th>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <td class="nowrap">{{model[item.num][0][question.field_name]}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                    <td class="nowrap">{{model[item.num][0][question.field_name]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                    <td class="nowrap">{{model[item.num][0][question.field_name]}}</td>
                    {% else %}
                    <td></td><td></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td class="nowrap">{{model[item.num][1][question.field_name]}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <th colspan="2" class="fixed-column wide">Код проверяющего</th>
            {% for item in model['kiosks'] %}
            <td>ТП</td>
            {% endfor %}
            {% for item in model['shops'] %}
            <td>ТП</td>
            {% endfor %}
            {% for item in model['cafes'] %}
            <td>ТП</td><td>ТП</td>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">Оператор АЗС</th>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <td class="nowrap">{{model[item.num][0]['operator_fullname']}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                    <td class="nowrap">{{model[item.num][0]['operator_fullname']}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                    <td class="nowrap">{{model[item.num][0]['operator_fullname']}}</td>
                    {% else %}
                    <td></td><td></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td class="nowrap">{{model[item.num][1]['operator_fullname']}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="fixed-column wide">Оператор-кассир</th>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <td class="nowrap">{{model[item.num][0]['accounter_fullname']}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                    <td class="nowrap">{{model[item.num][0]['accounter_fullname']}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                    <td class="nowrap">{{model[item.num][0]['accounter_fullname']}} / {{model[item.num][0]['accounter_cafe_fullname']}}</td>
                    {% else %}
                    <td></td><td></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td class="nowrap">{{model[item.num][1]['accounter_fullname']}} / {{model[item.num][0]['accounter_cafe_fullname']}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        <!-- pages -->
        {% for index in [1,2,3,4,5,6,7] %}
        <tr class="bg-success">
            <th class="fixed-column one">{{ index }}</th>
            <th class="fixed-column two">{{ model['checklist'].pages[index].title }}</th>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}">
                        {{ model[item.num][0].sum_points(model['checklist'].pages[index]) }}
                    </th>
                {% else %}
                    <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}"></th>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% if model[item.num] %}
                    <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}">
                        {{ model[item.num][0].sum_points(model['checklist'].pages[index]) }}
                    </th>
                {% else %}
                    <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}"></th>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                        <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}-1">
                            {{ model[item.num][0].sum_points(model['checklist'].pages[index]) }}
                        </th>
                    {% else %}
                        <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}-1"></th>
                        <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}-2"></th>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                        <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}-2">
                            {{ model[item.num][1].sum_points(model['checklist'].pages[index]) }}
                        </th>
                    {% else %}
                        <td title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}-2"></td>
                    {% endif %}
                {% else %}
                    <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}-1"></th>
                    <th title="пп: {{index}}, АЗС: {{item.num}}-{{item.title}}-2"></th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for question in model['checklist'].pages[index].questions %}
        <tr>
            {% set indx = loop.index %}
            <td class="fixed-column one">{{index}}.{{loop.index}}</td>
            <td class="fixed-column two">{{ question.label }}</td>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <td class="nowrap" title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}">
                        {% if model[item.num][0].object_info.applies(question) %}
                            {{ model[item.num][0][question.field_name]|points(question) }}
                        {% endif %}
                    </td>
                {% else %}
                    <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                    <td class="nowrap" title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}">
                        {% if model[item.num][0].object_info.applies(question) %}
                            {{ model[item.num][0][question.field_name]|points(question) }}
                        {% endif %}
                    </td>
                    {% else %}
                    <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
                {% if model[item.num] %}
                    {% if model[item.num]|length > 0 %}
                        <td class="nowrap" title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}">
                            {% if model[item.num][0].object_info.applies(question) %}
                                {{ model[item.num][0][question.field_name]|points(question) }}
                            {% endif %}
                        </td>
                    {% else %}
                        <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                        <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                        <td class="nowrap" title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}">
                            {% if model[item.num][1].object_info.applies(question) %}
                                {{ model[item.num][1][question.field_name]|points(question) }}
                            {% endif %}
                        </td>
                    {% else %}
                        <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="пп: {{index}}.{{indx}}, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" class="text-right fixed-column wide">Максимальный балл</th>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['max_points']}}
                    </td>
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                       {{model[item.num][0]['max_points']}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['max_points']}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][1]['max_points']}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="text-right fixed-column wide">Балл по проверке</th>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['points']}}
                    </td>
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                       {{model[item.num][0]['points']}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['points']}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][1]['points']}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2" class="text-right fixed-column wide">%</th>
            {% for item in model['kiosks'] %}
                {% if model[item.num] %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{ '{:.0f}%'.format(model[item.num][0]['points_percent']) }}
                    </td>
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['shops'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                       {{'{:.0f}%'.format(model[item.num][0]['points_percent'])}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
            {% for item in model['cafes'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{'{:.0f}%'.format(model[item.num][0]['points_percent'])}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}">
                        {{'{:.0f}%'.format(model[item.num][1]['points_percent'])}}
                    </td>
                    {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="MAX, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{model['kiosks_count']+model['shops_count']+2}}" class="text-right fixed-column wide">Кофе/Чай</td>
            {% for item in model['cafes'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="Кофе, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['p8_r1']}}
                    </td>
                    {% else %}
                    <td title="Кофе, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Кофе, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td title="Кофе, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][1]['p8_r1']}}
                    </td>
                    {% else %}
                    <td title="Кофе, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="Кофе, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Кофе, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{model['kiosks_count']+model['shops_count']+2}}" class="text-right fixed-column wide">Пенка</td>
            {% for item in model['cafes'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="Пенка, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['p8_r5']}}
                    </td>
                    {% else %}
                    <td title="Пенка, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Пенка, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td title="Пенка, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][1]['p8_r5']}}
                    </td>
                    {% else %}
                    <td title="Пенка, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="Пенка, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Пенка, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{model['kiosks_count']+model['shops_count']+2}}" class="text-right fixed-column wide">Объем</td>
            {% for item in model['cafes'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="Объем, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['p8_r6']}}
                    </td>
                    {% else %}
                    <td title="Объем, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Объем, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td title="Объем, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][1]['p8_r6']}}
                    </td>
                    {% else %}
                    <td title="Объем, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="Объем, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Объем, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td colspan="{{model['kiosks_count']+model['shops_count']+2}}" class="text-right fixed-column wide">Чашка</td>
            {% for item in model['cafes'] %}
            {% if model[item.num] %}
                {% if model[item.num]|length > 0 %}
                    <td title="Чашка, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][0]['p8_r7']}}
                    </td>
                    {% else %}
                    <td title="Чашка, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Чашка, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                    {% if model[item.num]|length > 1 %}
                    <td title="Чашка, АЗС: {{item.num}}-{{item.title}}">
                        {{model[item.num][1]['p8_r7']}}
                    </td>
                    {% else %}
                    <td title="Чашка, АЗС: {{item.num}}-{{item.title}}"></td>
                    {% endif %}
                {% else %}
                    <td title="Чашка, АЗС: {{item.num}}-{{item.title}}"></td>
                    <td title="Чашка, АЗС: {{item.num}}-{{item.title}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    require(['jquery'], function ($) {

    });
</script>
{% endblock %}