{% extends "layout.html" %}

{% block content %}
<form action="/save_list" method="POST">
    <div class="panel-group js-form" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ checklist.pages[0].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span> 
                            <span class="js-section-badge-total">11</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body js-section-body">
                    <div class="row mt10">
                        <div class="col-xs-3">
                            <label>АЗС</label>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="form-xs">
                            <select class="form-control js-question" name="object_name" {% if selected %}data-filled="1"{% endif %}>
                                <option value="">[ ... выберите из списка ... ]</option>
                                {% for obj in objects %}
                                <option value="{{ obj.num }}" {% if obj.num == selected.num %}selected{% endif %}>{{ obj.num }} - {{ obj.title }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-3"><label>Дата</label></div>
                        <div class="col-xs-9 text-right">
                            <input type="hidden" name="p1_r1" value="" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="day">
                                    <option value="">[...]</option>
                                    {% for i in range(1, 32) %}
                                    <option value="{{'%02d' % i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control js-question" id="month">
                                    <option value="">[...]</option>
                                    <option value="01">января</option>
                                    <option value="02">февраля</option>
                                    <option value="03">марта</option>
                                    <option value="04">апреля</option>
                                    <option value="05">мая</option>
                                    <option value="06">июня</option>
                                    <option value="07">июля</option>
                                    <option value="08">августа</option>
                                    <option value="09">сентября</option>
                                    <option value="10">октября</option>
                                    <option value="11">ноября</option>
                                    <option value="12">декабря</option>
                                </select>
                                <select class="form-control js-question" id="year">
                                    <option value="">[...]</option>
                                    {% for i in range(2016, 2014, -1) %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Время подхода к кассе</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r2" value="" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="hour1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 23) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                                :
                                <select class="form-control js-question" id="minute1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 59) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Время приема заказа</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r3" value="" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="hour2" data-rel-field="hour1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 23) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                                :
                                <select class="form-control js-question" id="minute2" data-rel-field="minute1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 59) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Время получения заказа</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r4" value="" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="hour3" data-rel-field="hour1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 23) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                                :
                                <select class="form-control js-question" id="minute3" data-rel-field="minute1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 59) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Общее время ожидания</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r5" value="" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="min-diff">
                                    <option value="">[...]</option>
                                    {% for i in range(0, 59) %}
                                    <option value="{{'%d' % i}}">{{ '%d' % i}}</option>
                                    {% endfor %}
                                </select>
                                минут
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title js-section-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{ checklist.pages[1].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[1].questions|length }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[1].questions %}
                    <div class="question js-question">
                        <input type="hidden" name="{{ item.field_name }}" value="" role="checkbox" />
                        <div class="btn-group btn-group-xs mr5 js-question-btns" role="group">
                            <button type="button" class="btn btn-default" value="yes">ДА</button>
                            <button type="button" class="btn btn-default" value="no">НЕТ</button>
                        </div>
                        <label>
                        {{ item.label }}
                        </label>
                    </div>
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title js-section-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{ checklist.pages[2].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span> 
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[2].questions|length+1 }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body js-section-body">
                    <label>
                        <div class="mb5">Оператор АЗС</div>
                        <input type="text" class="form-control js-question" placeholder="Фамилия Имя" name="operator_fullname" />
                    </label>
                    {% for item in checklist.pages[2].questions %}
                    <div class="question js-question">
                        <input type="hidden" name="{{ item.field_name }}" value="" role="checkbox" />
                        <div class="btn-group btn-group-xs mr5 js-question-btns" role="group">
                            <button type="button" class="btn btn-default" value="yes">ДА</button>
                            <button type="button" class="btn btn-default" value="no">НЕТ</button>
                        </div>
                        <label>{{ item.label }}</label>
                    </div>
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        {{ checklist.pages[3].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[3].questions|length }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[3].questions %}
                    <div class="question js-question">
                        <input type="hidden" name="{{ item.field_name }}" value="" role="checkbox" />
                        <div class="btn-group btn-group-xs mr5 js-question-btns" role="group">
                            <button type="button" class="btn btn-default" value="yes">ДА</button>
                            <button type="button" class="btn btn-default" value="no">НЕТ</button>
                        </div>
                        <label>{{ item.label }}</label>
                    </div>
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        {{ checklist.pages[4].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[4].questions|length }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[4].questions %}
                    <div class="question js-question">
                        <input type="hidden" name="{{ item.field_name }}" value="" role="checkbox" />
                        <div class="btn-group btn-group-xs mr5 js-question-btns" role="group">
                            <button type="button" class="btn btn-default" value="yes">ДА</button>
                            <button type="button" class="btn btn-default" value="no">НЕТ</button>
                        </div>
                        <label>{{ item.label }}</label>
                    </div>
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        {{ checklist.pages[5].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[5].questions|length+2 }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body js-section-body">
                    <div class="mb10">
                        <label>
                            <div class="mb5">Оператор-кассир</div>
                            <input type="text" class="form-control js-question" placeholder="Фамилия Имя" name="accounter_fullname" />
                        </label>
                        <label>
                            <div class="mb5">Оператор-кассир в кафе</div>
                            <input type="text" class="form-control js-question" placeholder="Фамилия Имя" name="accounter_cafe_fullname" />
                        </label>
                    </div>
                    {% for item in checklist.pages[5].questions %}
                    <div class="question js-question">
                        <input type="hidden" name="{{ item.field_name }}" value="" role="checkbox" />
                        <div class="btn-group btn-group-xs mr5 js-question-btns" role="group">
                            <button type="button" class="btn btn-default" value="yes">ДА</button>
                            <button type="button" class="btn btn-default" value="no">НЕТ</button>
                        </div>
                        <label>{{ item.label }}</label>
                    </div>
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        {{ checklist.pages[6].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[6].questions|length }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[6].questions %}
                    <div class="question js-question">
                        <input type="hidden" name="{{ item.field_name }}" value="" role="checkbox" />
                        <div class="btn-group btn-group-xs mr5 js-question-btns" role="group">
                            <button type="button" class="btn btn-default" value="yes">ДА</button>
                            <button type="button" class="btn btn-default" value="no">НЕТ</button>
                        </div>
                        <label>{{ item.label }}</label>
                    </div>
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        {% if selected.with_cafe %}
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        {{ checklist.pages[7].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">4</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body js-section-body">
                    <div class="js-question">
                        Кофе, приобретенный на станции:
                        <div class="radio"><label><input type="radio" name="p8_r1" value="не вкусный"> не вкусный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r1" value="нормальный"> нормальный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r1" value="очень вкусный"> очень вкусный</label></div>  
                    </div>
                    <div>       
                        Комментарии к кофе:
                        <textarea rows="2" class="form-control js-question" name="p8_r2"></textarea>
                    </div>
                    <div class="js-question">
                        Блин, приобретенный на станции:
                        <div class="radio"><label><input type="radio" name="p8_r3" value="не вкусный"> не вкусный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r3" value="нормальный"> нормальный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r3" value="очень вкусный"> очень вкусный</label></div>
                    </div>
                    <div>      
                        Комментарии к блинам:
                        <textarea rows="2" class="form-control js-question" name="p8_r4"></textarea>
                    </div>
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        {% endif %}
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                        {{ checklist.pages[8].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">1</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body js-section-body">
                    <div class="js-question">
                        Атмосфера на станции:
                        <div class="radio"><label><input type="radio" name="p9_r1" value="не доброжелательная"> не доброжелательная</label></div>
                        <div class="radio"><label><input type="radio" name="p9_r1" value="нейтральная"> нейтральная</label></div>
                        <div class="radio"><label><input type="radio" name="p9_r1" value="гостеприимная"> гостеприимная</label></div>
                    </div>
                    <div>         
                        Комментарии:
                        <textarea rows="2" class="form-control" name="p9_r2"></textarea>
                    </div>
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
    </div><!-- /.panel-group -->
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary pull-right ml5" id="form-save">Сохранить</button>
            <a href="/" class="btn btn-default pull-right">Отмена</a>
        </div>
    </div><!-- /.row -->
</form><!-- /form -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['jquery', 'bootstrap', 'checklist.view'], function ($) {
            // exec code on document.ready event
            $(function () {
                // nothing to do
            })
        })
    </script>
{% endblock %}
