{% extends "layout.html" %}
{% from "partial/checklist_partials.html" import question %}

{% block content %}
<h2>Режим проверки.</h2>
<span class="help-block">В режиме проверки можно исправить заполненную анкету</span>
<form action="{% if edit_mode == 'edit' %}/checklist/save{% else %}/report/verify{% endif %}" method="POST">
    <input type="hidden" name="uid" value="{{ values['uid'] }}" />
    <div class="panel-group js-form" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ checklist.pages[0].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span> 
                            <span class="js-section-badge-total">11</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body js-section-body">
                    <div class="row mt10">
                        <div class="col-xs-3">
                            <label>АЗС</label>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="form-xs">
                            <select class="form-control js-question" name="object_name" {% if selected %}data-filled="1"{% endif %}>
                                <option value="">[ ... выберите из списка ... ]</option>
                                {% for obj in objects %}
                                <option value="{{ obj.num }}" {% if obj.num == selected.num %}selected{% endif %}>{{ obj.num }} - {{ obj.title }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-3"><label>Дата</label></div>
                        <div class="col-xs-9 text-right">
                            <input type="hidden" name="p1_r1" value="{{ values.p1_r1 }}" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="day">
                                    <option value="">[...]</option>
                                    {% for i in range(1, 32) %}
                                    <option value="{{'%02d' % i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control js-question" id="month">
                                    <option value="">[...]</option>
                                    <option value="01">января</option>
                                    <option value="02">февраля</option>
                                    <option value="03">марта</option>
                                    <option value="04">апреля</option>
                                    <option value="05">мая</option>
                                    <option value="06">июня</option>
                                    <option value="07">июля</option>
                                    <option value="08">августа</option>
                                    <option value="09">сентября</option>
                                    <option value="10">октября</option>
                                    <option value="11">ноября</option>
                                    <option value="12">декабря</option>
                                </select>
                                <select class="form-control js-question" id="year">
                                    <option value="">[...]</option>
                                    {% for i in range(2016, 2014, -1) %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Время подхода к кассе</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r2" value="{{ values.p1_r2 }}" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="hour1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 24) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                                :
                                <select class="form-control js-question" id="minute1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 60) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Время приема заказа</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r3" value="{{ values.p1_r3 }}" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="hour2" data-rel-field="hour1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 24) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                                :
                                <select class="form-control js-question" id="minute2" data-rel-field="minute1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 60) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Время получения заказа</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r4" value="{{ values.p1_r4 }}" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="hour3" data-rel-field="hour1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 24) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                                :
                                <select class="form-control js-question" id="minute3" data-rel-field="minute1">
                                    <option value="">[...]</option>
                                    {% for i in range(00, 60) %}
                                    <option value="{{'%02d' % i}}">{{ '%02d' % i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row mt10">
                        <div class="col-xs-6"><label>Общее время ожидания</label></div>
                        <div class="col-xs-6 text-right">
                            <input type="hidden" name="p1_r5" value="{{ values.p1_r5 }}" />
                            <div class="form-xs">
                                <select class="form-control js-question" id="min-diff">
                                    <option value="">[...]</option>
                                    {% for i in range(0, 60) %}
                                    <option value="{{'%d' % i}}">{{ '%d' % i}}</option>
                                    {% endfor %}
                                </select>
                                минут
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title js-section-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        1. {{ checklist.pages[1].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[1].max_questions(selected) }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[1].questions %}
                    {{ question(item, values[item.field_name]) }}
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title js-section-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        2. {{ checklist.pages[2].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span> 
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[2].max_questions(selected) }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[2].questions %}
                    {{ question(item, values[item.field_name]) }}
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        3. {{ checklist.pages[3].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[3].max_questions(selected) }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[3].questions %}
                    {{ question(item, values[item.field_name]) }}
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        4. {{ checklist.pages[4].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[4].max_questions(selected) }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[4].questions %}
                        {% if selected.applies(item) %}
                            {{ question(item, values[item.field_name]) }}
                        {% endif %}
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        {% if checklist.pages[5].max_questions(selected) > 0 %}
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        5. {{ checklist.pages[5].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[5].max_questions(selected) }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[5].questions %}
                        {% if selected.applies(item) %}
                            {{ question(item, values[item.field_name]) }}
                        {% endif %}
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        {% endif %}
        {% if selected.with_cafe or selected.with_shop %}
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        6. {{ checklist.pages[6].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[6].max_questions(selected) }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[6].questions %}
                        {% if selected.applies(item) %}
                            {{ question(item, values[item.field_name]) }}
                        {% endif %}
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        {% endif %}
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingTen">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                        7. {{ checklist.pages[7].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">{{ checklist.pages[7].max_questions(selected) }}</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                <div class="panel-body js-section-body">
                    {% for item in checklist.pages[7].questions %}
                        {% if selected.applies(item) %}
                            {{ question(item, values[item.field_name]) }}
                        {% endif %}
                    {% endfor %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        {% if selected.with_cafe %}
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        {{ checklist.pages[8].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">7</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body js-section-body">
                    <div class="js-question">
                        <input type="hidden" value="{{ values['p8_r1'] }}" role="radio" />
                        Кофе, приобретенный на станции:
                        <div class="radio"><label><input type="radio" name="p8_r1" value="не вкусный"> не вкусный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r1" value="нормальный"> нормальный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r1" value="очень вкусный"> очень вкусный</label></div>  
                    </div>
                    <div class="js-question">
                        <input type="hidden" value="{{ values['p8_r5'] }}" role="radio" />
                        Пенка:
                        <div class="radio"><label><input type="radio" name="p8_r5" value="н/д">нет пенки (чай, американо и т.п.)</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r5" value="слабая">слабая</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r5" value="нормальная"> нормальная</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r5" value="густая"> густая</label></div>  
                    </div>
                    <div class="js-question">
                        <input type="hidden" value="{{ values['p8_r6'] }}" role="radio" />
                        Объем:
                        <div class="radio"><label><input type="radio" name="p8_r6" value="не полный"> не полный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r6" value="нормальный"> нормальный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r6" value="полный"> полный</label></div>  
                    </div>
                    <div class="js-question">
                        <input type="hidden" value="{{ values['p8_r7'] }}" role="radio" />
                        Чашка:
                        <div class="radio"><label><input type="radio" name="p8_r7" value="бумага"> бумажный стаканчик</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r7" value="пластик"> пластиковый стаканчик</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r7" value="керамика"> керамическая чашка</label></div>  
                    </div>
                    <div>       
                        Комментарии к кофе:
                        <textarea rows="2" class="form-control js-question" name="p8_r2">{{ values.p8_r2 }}</textarea>
                    </div>
                    <div class="js-question">
                        <input type="hidden" value="{{ values['p8_r3'] }}" role="radio" />
                        Блин, приобретенный на станции:
                        <div class="radio"><label><input type="radio" name="p8_r3" value="не вкусный"> не вкусный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r3" value="нормальный"> нормальный</label></div>
                        <div class="radio"><label><input type="radio" name="p8_r3" value="очень вкусный"> очень вкусный</label></div>
                    </div>
                    <div>      
                        Комментарии к блинам:
                        <textarea rows="2" class="form-control js-question" name="p8_r4">{{ values.p8_r4 }}</textarea>
                    </div>
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
        {% endif %}
        <div class="panel panel-default js-section">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title js-section-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                        {{ checklist.pages[9].title }}
                    </a>
                    <div class="pull-right">
                        <small class="text-danger js-section-badge">
                            <span class="hidden-xs hidden-sm hidden-md">заполнено</span>
                            <span class="js-section-badge-value">0</span>
                            <span class="hidden-xs hidden-sm hidden-md">из</span><span class="hidden-lg">/</span>
                            <span class="js-section-badge-total">1</span></small>
                    </div>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body js-section-body">
                    <div class="mb10">
                        <label>
                            <div class="mb5">Оператор АЗС</div>
                            <input type="text" class="form-control js-question" placeholder="Фамилия Имя" name="operator_fullname" value="{{ values['operator_fullname']}}" />
                        </label>
                        <label>
                            <div class="mb5">Оператор-кассир</div>
                            <input type="text" class="form-control js-question" placeholder="Фамилия Имя" name="accounter_fullname" value="{{ values['accounter_fullname']}}" />
                        </label>
                        {% if selected.with_cafe %}
                        <label>
                            <div class="mb5">Оператор-кассир в кафе</div>
                            <input type="text" class="form-control js-question" placeholder="Фамилия Имя" name="accounter_cafe_fullname" value="{{ values['accounter_cafe_fullname']}}" />
                        </label>
                        {% endif %}
                    </div>
                    <div class="js-question">
                        <input type="hidden" value="{{ values['p9_r1'] }}" role="radio" />
                        Атмосфера на станции:
                        <div class="radio"><label><input type="radio" name="p9_r1" value="не доброжелательная"> не доброжелательная</label></div>
                        <div class="radio"><label><input type="radio" name="p9_r1" value="нейтральная"> нейтральная</label></div>
                        <div class="radio"><label><input type="radio" name="p9_r1" value="гостеприимная"> гостеприимная</label></div>
                    </div>
                    <div>         
                        Комментарии:
                        <textarea rows="10" class="form-control" name="p9_r2">{{ values.p9_r2 }}</textarea>
                    </div>
                </div><!-- /.panel-body -->
            </div><!-- /.panel-collapse -->
        </div><!-- /.panel -->
    </div><!-- /.panel-group -->
    <div class="row">
        <div class="col-xs-12">
            <h4>Файлы</h4>
            {% for f in values.files %}
                {% if f['filetype'] == 'image' %}
                    <a href="/uploads/{{values.uid}}/{{f['filename']}}" target="_blank">
                    <img src="/uploads/{{values.uid}}/{{f['filename']}}" 
                        alt="{{ f['filename'] }}" 
                        class="img-thumbnail"
                        width="150"
                        height="150"></a>
                {% endif %}
            {% endfor %}
            <h4>Аудио</h4>
            {% for f in values.files %}
                {% if f['filetype'] == 'audio' %}
                    <div class="audiojs">
                        <audio src="/uploads/{{values.uid}}/{{f['filename']}}" preload="auto" />
                    </div>
                    <div class="audiojs_title">
                        <a href="/uploads/{{values.uid}}/{{f['filename']}}" target="_blank">Скачать</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% if values.state == 'new' %}
                {% if edit_mode == 'verify' %}
                    <button type="button" class="btn btn-primary pull-right ml5" id="form-save">Сохранить</button>
                    <a href="/reports/{{ selected.num }}" class="btn btn-default pull-right">Отмена</a>
                {% else %}
                    <button type="button" class="btn btn-primary pull-right ml5" id="form-save">Проверено</button>
                    <a href="/" class="btn btn-default pull-right">Отмена</a>
                {% endif %}
            {% else %}
                <a href="/reports/{{ selected.num }}" class="btn btn-default pull-right">Вернуться</a>
            {% endif %}
        </div>
    </div><!-- /.row -->
</form><!-- /form -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['/static/scripts/checklist.view.js']);
    </script>
{% endblock %}
