{% extends "layout.html" %}

{% block content %}
<h2>Контрольный лист посещения сохранен</h2>
<div id="js-content" data-uid="{{ uid }}" data-notice-sent="{{ notice_sent }}">
    <ul class="list-unstyled">
        <li>Номер листа: <a href="/checklist/view/{{ uid }}">#{{ uid }}</a></li>
        <li>Объект: {{ object_name }}</li>
        <li>Дата: {{ save_date.strftime('%d-%m-%Y') }}</li>
    </ul>

    <h3>Добавление файлов к листу посещения</h3>
    <form action="/file/upload" id="myDropzone" class="dropzone my-dropzone mb20" data-uid="{{ uid }}">
        <div class="dz-message">
            Перетащите сюда файлы для добавления их на сервер или кликните мышкой.
        </div>
    </form>
    <div class="mt10 mb10" id="js-completed-hint">
        Пожалуйста, дождитесь окончания загрузки файлов перед нажатие кнопки "Завершить"
    </div>
    <div class="pull-right">
        <button type="button" id="js-completed-btn" class="btn btn-primary" title="Пожалуйста, дождитесь окончания загрузки файлов">Завершить</button>
    </div>
</div><!-- /.js-content -->

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Укажите свой e-mail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                        <input type="email" value="" id="js-author-email" class="form-control">
                    </div>
                    <p class="help-block">
                        адрес электронной почты нужен, чтобы отправить вам письмо со ссылками на редактирование анкеты, если это потребуется в дальнейшем.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="js-modal-complete">Завершить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/content/dropzone.css" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.checklist_files = {{ files|tojson }};
    </script> 
    <script type="text/javascript">
        require(['/static/scripts/checklist.addfiles.view.js']);
    </script>
{% endblock %}
