{% extends "layout.html" %}

{% block content %}
<h2>Контрольный лист посещения сохранен</h2>
<ul class="list-unstyled">
    <li>Номер листа: <a href="/checklist/view/{{ model.num }}">#{{ model.num }}</a></li>
    <li>Объект: {{ model.object_name }}</li>
    <li>Дата: {{ model.save_date.strftime('%d-%m-%Y') }}</li>
</ul>

<h3>Добавление файлов к листу посещения</h3>
<form action="/file/upload" id="myDropzone" class="dropzone mb20" data-uid="{{ model.num }}">
    <div class="dz-message">
        Перетащите сюда файлы для добавления их на сервер или кликните мышкой.
    </div>
</form>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/content/dropzone.css" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['/static/scripts/checklist.saved.view.js']);
    </script>
{% endblock %}