{% extends "layout.html" %}

{% block content %}
<h2>
    <span>Список объектов</span>
</h2>
<div class="row">
{% for grouper, list in objects|groupby('type') %}
<div class="col-xs-12 col-sm-12 col-md-4">
    <div class="page-header"><h4>{{ grouper }}</h4></div>
    {% for obj in list|sort(attribute='sort_num') %}
    <div class="media" data-num="{{obj.num}}" data-title="{{obj.title}}">
        <div class="media-body">
            <h4 class="media-heading">
                <a href="/checklist/{{obj.num}}">#{{obj.num}} - {{ obj.title }}</a>
            </h4>
            <p>Адрес: {{ obj.address }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
