{% extends "layout.html" %}

{% block content %}

<h2>Отчеты по объекту #{{ selected.num }} - {{ selected.title }}
    <br>
    <small>{{ selected.address }}</small>
</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>##</th>
            <th>Дата отчета</th>
            <th>Статус отчета</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for obj in new_checklists|sort(attribute='date', reverse=True) %}
            <tr>
                <td><a href="/report/{{obj.uid}}">{{ obj.uid }}</a></td>
                <td>
                	<span class="js-datetime-from" data-datetime="{{ obj.date.strftime("%Y-%m-%dT%H:%M:%S") }}"></span>
                </td>
                <td>новый</td>
                <td>
                    <a href="/checklist/view/{{obj.uid}}">добавить файлы</a><span class="ml5 mr5">/</span>
                    <a href="/report/{{obj.uid}}">проверить</a><span class="ml5 mr5">/</span>
                    <a href="/report/remove/{{obj.uid}}" class="js-remove-report-btn">удалить</a>
                </td>
            </tr>
        {% endfor %}
        {% for obj in checklists|sort(attribute='date', reverse=True) %}
            <tr>
                <td><a href="/report/{{obj.uid}}">{{ obj.uid }}</a></td>
                <td>
                    <span class="js-datetime-from" data-datetime="{{ obj.date.strftime("%Y-%m-%dT%H:%M:%S") }}"></span>
                </td>
                <td>
                    {% if obj.state == 'new' %}
                        новый
                    {% elif obj.state == 'verified' %}
                        проверен
                    {% elif obj.state == 'completed' %}
                        подтвержден
                    {% endif %}
                </td>
                <td>
                    <a href="/report/{{obj.uid}}">изменить</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['moment', 'jquery'], function (moment, $) {
            // documenr.ready function
            $(function () {
                moment.locale('ru');
                $.each($('.js-datetime-from'), function () {
                    var $this = $(this);
                    $this.text(moment.utc($this.data('datetime')).format('D MMMM YYYY'));
                });
                $('.js-remove-report-btn').click(function (e) {
                    if (!confirm('Вы действительно желаете удалить анкету?')) {
                        e.preventDefault();
                    }
                });
            });
        });
    </script>
{% endblock %}