/* --- margins and paddings --- */
.mb20 {
    margin-bottom: 20px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.ml5 {
    margin-left: 5px !important;
}
.mr5 {
    margin-right: 5px !important;
}
/* --- /margins and paddings --- */