{% extends "mobile/layout.html" %}

{% block content %}

<header class="navbar navbar-default navbar-fixed-top navbar-mobile">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/static/img/logo.svg" /></a>
            <div class="azs-form">
                <div class="azs-form-label">АЗС №</div>
                <div class="azs-form-select">
                    <div class="form-xs">
                        <select class="form-control">
                            <option value="34">34</option>
                            <option value="158">158</option>
                            <option value="TE/21-3A">TE/21-3A</option>
                        </select>
                    </div>
                </div>
            </div><!-- /.row -->
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav id="bs-navbar" class="navbar-collapse collapse" aria-expanded="false">
            <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                    </ul>
                </li>
            </ul>-->
        </nav><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</header>

<style>

</style>

<div class="container-fluid">
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="dates">
            <div class="row mt10">
                <div class="col-xs-3"><label>Дата</label></div>
                <div class="col-xs-9 text-right">
                    <div class="form-xs">
                        <select class="form-control"><option value="18">18</option><option value="19">19</option></select>
                        <select class="form-control"><option value="05">мая</option><option value="06">июня</option></select>
                        <select class="form-control"><option value="2016">2016</option><option value="2015">2015</option></select>
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row mt10">
                <div class="col-xs-6"><label>Время подхода к кассе</label></div>
                <div class="col-xs-6 text-right">
                    <div class="form-xs">
                        <select class="form-control"><option value="12">12</option><option value="13">13</option></select>
                        :
                        <select class="form-control"><option value="00">00</option><option value="01">01</option></select>
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row mt10">
                <div class="col-xs-6"><label>Время приема заказа</label></div>
                <div class="col-xs-6 text-right">
                    <div class="form-xs">
                        <select class="form-control"><option value="12">12</option><option value="13">13</option></select>
                        :
                        <select class="form-control"><option value="00">00</option><option value="01">01</option></select>
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row mt10">
                <div class="col-xs-6"><label>Время получения заказа</label></div>
                <div class="col-xs-6 text-right">
                    <div class="form-xs">
                        <select class="form-control"><option value="12">12</option><option value="13">13</option></select>
                        :
                        <select class="form-control"><option value="00">00</option><option value="01">01</option></select>
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row mt10">
                <div class="col-xs-6"><label>Общее время ожидания</label></div>
                <div class="col-xs-6 text-right">
                    <div class="form-xs">
                        <select class="form-control"><option value="12">12</option><option value="13">13</option></select>
                        минут
                    </div>
                </div>
            </div><!-- /.row -->
        <!--</div><!-- /.tab-panel #dates
        <div class="tab-pane" role="tabpanel" id="visual">-->
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Стела без повреждений, чистая, указаны все цены, светятся все элементы (в темное время суток)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Газон и дорожное покрытие (включая бордюрный камень) очищены от мусора, грязи, (снега и льда зимой)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Все фонари общего освещения горят (в темное время суток)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Заправочные островки и топливораздаточные колонки (ТРК) чистые, без повреждений
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    У ТРК нет видимых не обработанных разливов топлива
                </label>
            </div>
        </div><!-- /.tab-pane #visual -->
        <div class="tab-pane" role="tabpanel" id="operator">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор АЗС одет в полную униформу, выглядит опрятно и чисто
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Имеется табличка с указанием имени, фамилии, должности (бейдж)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор АЗС НЕ жует жвачку, НЕ принимает пищу, НЕ разговаривает по телефону
                </label>
            </div>
        <!--</div><!-- /.tab-pane #operator
        <div class="tab-pane" role="tabpanel" id="service">-->
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор поприветствовал Вас доброжелательно и вежливо
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор уточнил вид топлива
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор повторил вслух вид топлива и сообщил номер ТРК
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор НЕ положил крышку бензобака на автомобиль
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор НЕ пролил бензин на а/м
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор своевременно вынул пистолет из бака после заправки
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Оператор поблагодарил и пригласил приехать снова
                </label>
            </div>
        </div><!-- /.tab-pane #service -->
        <div class="tab-pane" role="tabpanel" id="building">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Стекла окон фасада и двери без повреждений, чистые 
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Отсутствуют объявления/информация, написанные от руки
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Территория вокруг здания  чистая, без мусора (снега и льда зимой), урна для мусора заполнена не более чем на 2/3
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Пол чистый, мусора нет (в здании магазина)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Полки без повреждений, чистые, заполнены товаром, все товары с ценниками, нет просроченного товара
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Столы в кафе чистые, стулья аккуратно выровненные
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    На витрине представлено не менее 15 готовых пончиков - при наличии кафе
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Нет "шубы" в морозильных ларях
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Двери в подсобные помещения закрыты
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Телевизор работает на новостном канале без звука/с минимальным звуком
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    В торговом зале хорошо слышна запись музыки и рекламных объявлений
                </label>
            </div>
        </div><!-- /.tab-pane #building -->
        <div class="tab-pane" role="tabpanel" id="toilet">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Туалет: пол, стены - чистые, сантехника чистая, без видимых повреждений
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Туалет: туалетная бумага, крючки для одежды и объявление "Не бросать в унитаз" в наличии
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Туалет: соблюдается график уборки туалета
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Туалет: мыльный раствор в диспенсере в наличии
                </label>
            </div>
        </div><!-- /.tab-pane #toilet -->
        <div class="tab-pane" role="tabpanel" id="operator2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Одет в полную униформу, выглядит опрятно и презентабельно, пирсинг и яркие украшения отсутствуют
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Имеется табличка с указанием имени, фамилии, должности (бейдж)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Оператор-кассир на кассе кафе одет в фартук и козырек
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Чистые руки/ногти, отсутствие колец (исключение обручальное)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Длинные волосы собраны (у женщин), сотрудник чисто выбрит/усы, борода аккуратно подстрижены (у мужчин)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: НЕ жует жвачку, НЕ принимает пищу, НЕ разговаривает по телефону
                </label>
            </div>
        <!--</div><!-- /.tab-pane #operator2 
        <div class="tab-pane" role="tabpanel" id="service2">-->
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Установил зрительный контакт, улыбнулся доброжелательно и вежливо
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Поприветствовал клиента
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Выяснил потребность клиента
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Предложил приобрести большее кол-во топлива (торговля с плюсом)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Грамотно презентовал ассортимент кафе - при наличии кафе
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Предложил приобрести дополнительное блюдо из ассортимента кафе
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Уточнил наличие/ предложил приобрести карту "Астра"
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Повторил вслух заказ клиента, получил обратную связь, озвучил сумму заказа
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Проговорил вслух сумму, полученную от клиента
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Выдал номер заказа 
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Правильно произвел расчет на ККМ ("пробил" весь заказ, ввел сумму полученную от клиента)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Выдал чек, проговорил вслух и выдал сумму сдачи (при заправке по пластиковым картам - 2 чека)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Быстро и правильно собрал заказ (выпечка, напитки и т.д.) - при наличии кафе
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Кассир: Поблагодарил и пригласил приехать снова
                </label>
            </div>
        </div><!-- /.tab-pane #operator2 -->
        <div class="tab-pane" role="tabpanel" id="cafe">
            <p>
                Кофе, приобретенный на станции:
                <div class="radio"><label><input type="radio" name="cafe"> не вкусный</label></div>
                <div class="radio"><label><input type="radio" name="cafe"> нормальный</label></div>
                <div class="radio"><label><input type="radio" name="cafe"> очень вкусный</label></div>         
                Комментарии к кофе:
                <textarea rows="2" class="form-control"></textarea>
            </p>
            <p>
                Блин, приобретенный на станции:
                <div class="radio"><label><input type="radio" name="cir"> не вкусный</label></div>
                <div class="radio"><label><input type="radio" name="cir"> нормальный</label></div>
                <div class="radio"><label><input type="radio" name="cir"> очень вкусный</label></div>         
                Комментарии к блинам:
                <textarea rows="2" class="form-control"></textarea>
            </p>
        </div><!-- /.tab-pane #cafe -->
        <div class="tab-pane" role="tabpanel" id="common">
            <p>
                Атмосфера на станции:
                <div class="radio"><label><input type="radio" name="atm"> не доброжелательная</label></div>
                <div class="radio"><label><input type="radio" name="atm"> нейтральная</label></div>
                <div class="radio"><label><input type="radio" name="atm"> гостеприимная</label></div>         
                Комментарии:
                <textarea rows="2" class="form-control"></textarea>
            </p>
            <p>
                <label>Должность</label>
                <input type="text" class="form-control" />
            </p>
            <p>
                <label>Ф.И.О.</label>
                <input type="text" class="form-control" />
            </p>
        </div><!-- /.tab-pane #common -->
    </div><!-- /.tab-content -->
</div><!-- /.container -->

<div class="tabs-below">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#dates" aria-controls="dates" role="tab" data-toggle="tab">1</a>
        </li>
        <!--<li role="presentation">
            <a href="#visual" aria-controls="visual" role="tab" data-toggle="tab">2</a>
            <!-- ВИЗУАЛЬНЫЕ СТАНДАРТЫ (ЦЕНОВАЯ СТЕЛА, ВЪЕЗД/ВЫЕЗД, ФРИЗ НАВЕСА, ЗАПРАВОЧНАЯ ПЛОЩАДКА)
        </li>-->
        <li role="presentation">
            <a href="#operator" aria-controls="operator" role="tab" data-toggle="tab">2</a>
            <!-- ОПЕРАТОР АЗС (внешний вид) -->
        </li>
        <!--<li role="presentation">
            <a href="#service" aria-controls="service" role="tab" data-toggle="tab">4</a>
            <!-- ОБСЛУЖИВАНИЕ ЗАПРАВОЧНАЯ ПЛОЩАДКА (оператор АЗС)
        </li>-->
        <li role="presentation">
            <a href="#building" aria-controls="building" role="tab" data-toggle="tab">3</a>
            <!-- ЗДАНИЕ ОПЕРАТОРНОЙ (АЗС)/МАГАЗИНА (АЗК) -->
        </li>
        <li role="presentation">
            <a href="#toilet" aria-controls="toilet" role="tab" data-toggle="tab">4</a>
            <!-- ЗДАНИЕ ОПЕРАТОРНОЙ (АЗС)/МАГАЗИНА (АЗК) -->
        </li>
        <li role="presentation">
            <a href="#operator2" aria-controls="operator2" role="tab" data-toggle="tab">5</a>
            <!-- ЗДАНИЕ ОПЕРАТОРНОЙ (АЗС)/МАГАЗИНА (АЗК) -->
        </li>
        <li role="presentation">
            <a href="#cafe" aria-controls="cafe" role="tab" data-toggle="tab">6</a>
            <!-- Общее впечатление -->
        </li>
        <li role="presentation">
            <a href="#common" aria-controls="common" role="tab" data-toggle="tab">7</a>
            <!-- ЗДАНИЕ ОПЕРАТОРНОЙ (АЗС)/МАГАЗИНА (АЗК) -->
        </li>
    </ul>
</div>
        
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['jquery', 'bootstrap'], function ($) {
            // exec code on document.ready event
            $(function () {
                // nothing to do
            })
        })
    </script>
{% endblock %}
